body {
  background-color: grey;
}

h1,
h2,
h3 {
  color: white;
  background-color: black;
}

p {
  color: white;
  background-color: black;
}

button {
  color: navy;
  background-color: grey;
}

label {
  color: white;
  background-color: black;
}

#Role-Select {
  background-color: red;
  color: black;
}

#agree {
  color: blue;
}

button:hover {
  background-color: magenta;
  color: aqua;
  font-weight: bold;
  text-decoration: underline;
}

select:hover {
  background-color: magenta;
  color: aqua;
  font-weight: bold;
  text-decoration: underline;
}

button:active {
  background-color: greenyellow;
}
