body {
  background-color: grey;
}

h1,
h2,
h3 {
  color: white;
  background-color: black;
}

p {
  color: white;
  background-color: black;
}

button {
  color: navy;
  background-color: grey;
}

label {
  color: white;
  background-color: black;
}
