h1 {
  color: olive;
}

p {
  color: white;
  background-color: black;
}

button {
  color: navy;
  background-color: grey;
}

h2 {
  color: white;
  background-color: black;
}

h3 {
  color: white;
  background-color: black;
}
