h1 {
    background-color: palegoldenrod;
    border: 1px solid black;
    display: block;
    width: 200px;
    padding: 20px;
    margin: 20px;
    align-text: right;
}

span {
    background-color: paleturquoise;
    border: 1px solid black;
    padding: 50px;
    margin: 50px;
    display: block;
}

div {
    height: 300px;
    width: 300px;
    background-color: #73000a;
    border: 5px solid black;
    display: block;
    padding-bottom: 50px;
}

section {
    width: 500px;
    height: 500px;
    background-color: green;
    opacity: 0.1;
}

#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(155, 177, 144, 0.7);
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: rgb(5, 5, 5);
    opacity: 0.3;
}

header {
    font-style: italic;
    border: black 5px;
    font-style: oblique;
}

div {
    scale: 20%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: aliceblue;
    text-decoration: underline black 5px;
    justify-content: left;
    display: "outside";
}

p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 250;
    color: white;
}

section {}

h1 {}